@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  25% {
    background-position: 100% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 100%;
    background-size: 200% 200%;
  }
  75% {
    background-position: 0% 100%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
  background-image: linear-gradient(
    -45deg,
    #8e9eab,
    #1c1c1c,
    #4ECDC4,
    #2c3e50,
    #bdc3c7
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.animate-welcome-page-text {
  animation: gradient-wave 2s linear forwards; 
  background-image: linear-gradient(
    to right,
    #bdc3c7,
    #8e9eab,
    #1c3a57,
    #666078,
    #bdc3c7
  );
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-wave {
  0% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%; 
  }
}




@keyframes shimmer-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



@keyframes spin-around {
  from {
    transform: rotate(0deg) scale(1.5); 
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}

.animate-shimmer-slide {
  animation: shimmer-slide var(--speed) linear infinite;
}

.animate-spin-around {
  animation: spin-around calc(var(--speed) * 2) linear infinite;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple linear forwards;
}



.animate-shiny-text {
  animation: shiny-text 8s infinite;
}
 
@keyframes shiny-text {
  0%,
  90%,
  100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  
}